nav {
    background-color: #ffffff;

    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .engloba {
    width: 65%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div.logo {
    height: auto;
    width: auto;
}
nav a{
    text-decoration: none;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.link {
    text-decoration: none;

    background-color: #ffffff;

    width: 100px;
    height: 40px;

    color: rgb(0, 0, 0);

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;

    box-shadow: inset 0 0 0 0 #edebeb;
    -webkit-transition: ease-in-out 0.95;
    -moz-transition: ease-in-out 0.95;
    transition: ease-cut 0.95;



}

.link:hover {
    box-shadow: inset 400px 0 0 0 #edebeb;

    transition: 0.90s ease-in-out;
}

.link:active {
    color: #f71e1e;
    transition: 0.5s ease-in-out;

}

span {

    width: auto;
    height: 40px;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    

    background-color: #efb810;
    -webkit-transition: ease-in-out 0.90;
    -moz-transition: ease-in-out 0.90;
    transition: ease-cut 0.90;
}

span:hover{
    box-shadow: inset 400px 0 0 0 #f1efe0;

    transition: 0.90s ease-in-out;
}

/* RESPONSIVIDADE DO MENU */
@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav>div {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    nav .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    nav .links .link {
        width: 100%;
        border-radius: 0%;
    }
}